.form {
  padding: 1rem;
  margin-top: 2rem;

  margin-left: 4rem;
  margin-right: 4rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  font: inherit;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #1296b8;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #0d5a86;
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: #187f99;
  border-color: #1a83a3;
}
.todo {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 4rem 0;
  margin-left: 4rem;
  margin-right: 4rem;
}
